.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    /* Colors */
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
  
    /* Gradients */
    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);
  
    /* Neutral Colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
  
    /* Typography */
    --font-family: 'Hanken Grotesk', sans-serif;
    --font-size-body: 18px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
  
    /* Breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;
}

*{
    margin: 0;
    padding: 0;
}

body {
font-family: var(--font-family);
font-size: var(--font-size-body);
display: flex;
height: 100vh;
align-items: center;
justify-content: center;
}

.main-section-container{
    display: flex;
    width: 32.125rem;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    overflow: hidden;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 1rem;
    background: linear-gradient(var(--gradient-light-slate-blue),var(--gradient-light-royal-blue));
    border-radius: 1.2rem;
    overflow: hidden;
}

.your-result-p{
    margin-bottom: 3rem;
    font-size: 1.08rem;
    color: rgb(235, 233, 233);
    margin-top: 1.8rem;
}

.grade-container{
    background: linear-gradient(var(--gradient-violet-blue),var(--gradient-persian-blue));
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -1.3rem;
    margin-bottom: 1.3rem;
    overflow: hidden;
}
.grade{
    color: white;
    font-size: 2.7rem;
    font-weight: 700;
}
.of-100{
    color: rgb(221, 217, 217);
    font-size: 0.7rem;
    font-weight: 300;
}
.grade-info-container{
    text-align: center;
    padding: 0 2rem 2rem;
}
.great{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.7rem;
}
.grade-info{
    font-size: 0.76rem;
    color: rgb(201, 198, 198);
}
.summary-container{
    margin-left: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.summary-p{
    margin-right: auto;
    margin-top: 1.8rem;
    font-weight: 900;
    font-size: 1.04rem;
    color: hsl(224, 30%, 27%);
}
.summary-info-container{
    margin-top: 1rem;
    margin-right: 3rem;
}
.summary-info-1 , .summary-info-2 ,.summary-info-3, .summary-info-4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.35rem;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}
.number{
    margin-left: 3rem;
    color: black;
}
.summary-info-1{
    background-color: hsla(0, 100%, 67%, 0.072);
    color: var(--primary-light-red);
}
.summary-info-2{
    background-color: hsl(39, 100%, 56%, 0.072);
    color: var(--primary-orangey-yellow);
}
.summary-info-3{
    background-color: hsl(166, 100%, 37%, 0.072);
    color: var(--primary-green-teal);
}
.summary-info-4{
    background-color: hsl(234, 85%, 45%, 0.072);
}
.continue{
    margin-top: 1.3rem ;
    margin-right: 2rem;
    padding: 0.85rem 4.6rem;
    border: none;
    border-radius: 1.3rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
    letter-spacing: 0.04rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.summary-container span{
    color: rgb(153, 152, 152);
}
@media(max-width:767px){
    .main-section-container{
        display: block;
        width: 22rem;
        border-radius: 0;
    }
    .result-container{
        width: 22rem;
        height: 19rem;
        border-radius: 0 0 1.2rem 1.2rem;
    }
    .summary-container{
        width: 22rem;
    }
    .grade-container{
        width: 7.5rem;
        height: 7.5rem;
    }
    .summary-container{
        margin-bottom: 1.8rem;
    }
    .summary-info-1, .summary-info-2, .summary-info-3, .summary-info-4{
        width: 19.4rem;
        margin-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .continue{
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 2rem;
        width: 17.8rem;
        margin-left: 0.5rem;
    }
}
  
  